@@ -0,0 +1,52 @@
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/**************
* Reset Geral *
**************/

* {
    box-sizing: border-box;
    outline: none;
}

html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: rgb(17, 1, 0);
}

a{
    color: rgb(70, 130, 180);
    text-decoration: none;
}

a:hover{
    color: rgb(128, 35, 30);
    text-decoration: none;
}


body{
    background: #E7E0D8 fixed no-repeat;
}

#wrap {
    position: relative;
    width: 100%;
    height: 100%;

    min-width: 280px;
    max-width: 1024px;

    margin: auto;
} 
/*Fim do reset*/

* Rodapé *
**********/

#wrap>footer {
 background-color: rgb(99, 45, 121);
 border-radius: 0.5rem;
 margin: 0.5rem;
 margin-top: 0;
 color: rgb(255, 240, 255);
}
/* Bloco superior do rodapé */
 #fsup {
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px dotted rgb(249, 84, 249);
 }
 
 /* Links do bloco */
 #fsup a {
   padding: 0.5rem;
   text-align: center;
   color: rgb(255, 240, 255);
   text-decoration: none;
   transition: 0.25s;
   font-size: 1.5rem;
 }
 
 /* Links do bloco quando curso passar sobre (:hover) */
 #fsup a:hover {
   color: rgb(250, 167, 250);
 }
 
 /* Bloco inferior do rodapé */
 #finf {
   display: flex;
   padding: 0.5rem;
   justify-content: space-between;
 }
 
 /* Títulos dos menus */
 #finf h4 {
   margin: 0 0 0.7rem 0;
   font-weight: normal;
 }
 
 /* Links do bloco */
 #finf nav a {
   display: block;
   padding: 0.3rem 0;
   font-size: 0.9rem;
   color: rgb(255, 240, 255);
 }
 
 /* Links do bloco quando curso passar sobre (:hover) */
 #finf nav a:hover {
   color: rgb(250, 167, 250);
   text-decoration: none;
 }
 
 /* Torna o rodapé responsivo à telas maiores */
 @media screen and (min-width: 426px) {
 
   /* Ajusta posição dos menus inferiores */
   #finf {
     justify-content: space-around;
   }
 }
 
 /**
  * Sticky Footer
  * Força o rodapé a aparecer sempre na parte inferior da tela,
  * independentemente de quanto conteúdo a página tem, aumentando
  * automaticamente a altura de <main> e de <article>.
 */
 
 /* Torna elementos de "#wrap" flexbox e os empilha verticalmente */
 #wrap {
   display: flex;
   flex-direction: column;
 }
 
 /* Força crescimento de <main> e de <article> */
 #wrap>main, #wrap>main article {
   flex-grow: 1;
 }
 
 /* Fim do Sticky Footer */
 
 /* Rack para exibir margem inferior do <footer> */
 #wrap>span {
   font-size: 1px;
 }